<nav id="nav-toggle" class="navbar navbar-expand-lg fixed-top navbar-light bg-light ml" style="z-index: 0; padding: 0px">
    <div class="container-fluid">
        <div class="row" style="width: 100%">
            <div class="col-md-1">
                <!--<img class="mb-3 mt-3" src="../../../assets/icons/SpotEye.svg" alt="" width="67" height="30">-->
            </div>
            <div class="col-md-2">
                <label for="inputEmail" class="sr-only">Safrinha</label>
                <input type="email" id="inputEmail" class="form-control mb-2 mt-2" placeholder="Safrinha">
            </div>
            <div class="col-md-2">
                <input type="email" id="inputEmail" class="form-control mb-2 mt-2" placeholder="Data">
            </div>
            <div class="col-md-4">
                <input type="email" id="inputEmail" class="form-control mb-2 mt-2" placeholder="E-mail">
            </div>
            <div class="col-md-1 text-center icons-border">
                <i class="fas fa-bell" style="margin-top: 20px"></i>
                <i class="fas fa-envelope" style="margin-top: 20px"></i>
            </div>
            <div class="col-md-2">
                <!--<img class="mb-2 mt-2 rounded-circle logged-user" src="../../../assets/icons/icUsers.svg" alt="" width="40" height="40">-->
                <label style="color: #043965">Olá, usuário.  ▼ </label>
            </div>
        </div>

    </div>
</nav>
