<!-- Sidebar  -->
          <nav id="sidebar" style="z-index: 1;">
              <div class="sidebar-header text-center">
                  <button type="button" id="sidebarCollapse" class="btn btn-light home-icon">
                      <i class="fas fa-bars"></i>
                  </button>
              </div>
              <ul class="list-unstyled components">
                  <li class="icons">
                      <a href="#homeSubmenu" class="text-center">
                          <i class="fas fa-map ic" ></i>
                          <span class="sidebar-text">Dashboard</span>
                      </a>
                  </li>
                  <li class="icons text-secondary">
                      <a href="#homeSubmenu" class="text-center">
                          <i class="fas fa-columns ic"></i>
                          <span class="sidebar-text">Operações</span>
                      </a>
                  </li>
                  <li class="icons text-secondary">
                      <a href="#homeSubmenu" class="text-center">
                          <i class="fas fa-file-alt ic"></i>
                          <span class="sidebar-text">Divisões</span>
                      </a>
                  </li>
                  <li class="icons text-secondary">
                      <a href="#homeSubmenu" class="text-center">
                          <i class="fas fa-clipboard-list ic"></i>
                          <span class="sidebar-text">Relatórios</span>
                      </a>
                  </li>
                  <li class="icons text-secondary">
                      <a href="#homeSubmenu" class="text-center">
                          <i class="fas fa-user-friends ic"></i>
                          <span class="sidebar-text">Usuários</span>
                      </a>
                  </li>


              </ul>
          </nav>
